@charset "UTF-8";
.hero .embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  /* --slide-height: 600px; */
  /* padding: 1.6rem; */
}
.hero .embla__viewport {
  /* overflow-x: hidden; */
}
.hero .embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.hero .embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.hero .embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .embla__dot {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.hero .embla__dots {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  /* bottom: 1.6rem; */
  bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .embla__dot {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  border-radius: 32px;
}
.hero .embla__dot:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-site);
  border-radius: 0.2rem;
  font-size: 6px;
  /* width: 100%; */
  /* height: 0.3rem; */
  content: "⚫";
  opacity: 0.2;
}
.hero .embla__dot--selected {
  border: 1px solid var(--Black, #0d0d0d);
}
.hero .embla__dot--selected::after {
  opacity: 1;
  /* border: 1px solid var(--Black, #0d0d0d); */
}
@media (max-width: 600px) {
  .hero .embla {
    --slide-spacing: 0rem;
  }
  .hero .embla__dots {
    left: 30px;
    right: unset;
    bottom: unset;
    top: 20%;
    flex-direction: column;
  }
}

.embla__dots__catalog {
  display: none;
}

@media (max-width: 600px) {
  .embla-catalog {
    --slide-spacing: 1rem;
    --slide-size: 50%;
  }
  .embla-catalog .embla__viewport__catalog {
    overflow: hidden;
  }
  .embla-catalog .embla__container__catalog {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla-catalog .embla__slide__catalog {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla-catalog .embla__dot__catalog {
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .embla-catalog .embla__dots__catalog {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: 1.6rem; */
    bottom: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .embla-catalog .embla__dot__catalog {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    border-radius: 32px;
  }
  .embla-catalog .embla__dot__catalog:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-site);
    border-radius: 0.2rem;
    font-size: 6px;
    /* width: 100%; */
    /* height: 0.3rem; */
    content: "⚫";
    opacity: 0.2;
  }
  .embla-catalog .embla__dot__catalog--selected {
    border: 1px solid var(--Black, #0d0d0d);
  }
  .embla-catalog .embla__dot__catalog--selected::after {
    opacity: 1;
    /* border: 1px solid var(--Black, #0d0d0d); */
  }
}
@media (max-width: 600px) and (max-width: 600px) {
  .embla-catalog .embla__dots__catalog {
    display: flex;
  }
}/*# sourceMappingURL=embla.css.map */